.Rproj.user
.Rhistory
.RData
.Ruserdata

# Private directory
00_cover/

# DS_Store and swp
*.DS_Store
*.swp
# tex
*.aux
*.log
*.out


# common name
doc/

####### Not available in public ##########
02_bring/GZlist/data/
02_bring/Postas/data/
02_bring/Agoop/data/
##########################################










