.Rproj.user
.Rhistory
.RData
.Ruserdata

# Private directory
00_cover/

# DS_Store and swp
*.DS_Store
*.swp

# Analysis and data (not related to the essence of our reports)
## common name
doc/










